<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
           <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" id="localsessionFactoryBean">
           <property name="configLocations" value="hibernate.cfg.xml"></property>
           </bean>
           <bean class="com.xworkz.appartment.dao.AppartmentDAOImpl" id="appartmentDAOImpl">
           <constructor-arg name="factory" ref="localsessionFactoryBean"></constructor-arg></bean>
</beans>
